body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

}

a {
    text-decoration: none;
}

img {
    display: block;
    min-width: 100px;
    height: auto;
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

button,
input {
    font-family: inherit;
    color: currentColor;
}

/*-----------HEADER--------------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
            0 1px 6px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    display: none;
}

.address {
    display: none;
}

.header-btn-menu {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
}

.header-btn-icon {
    
}

.header-modal-menu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.header-menu-wrap {
    padding: 72px 16px 40px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-btn-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header-menu-nav {
}

.header-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.current-nav-link {
    color: #404bbf;
}

.header-menu-address-social-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.header-menu-address {
    font-style: normal;
    margin-bottom: 48px;
}

.header-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header-menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-address-link:hover,
.header-menu-address-link:focus {
    color: #404bbf;
}

.header-menu-social-list {
    display: flex;
    gap: 40px;
}

.header-menu-social-item {
    width: 40px;
    height: 40px;
}

.header-menu-social-link {
    width: 100%;
    height: 100%;
       background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-address-link {
    color: #4d5ae5;
}

.header-menu-social-link:hover,
.header-menu-social-link:focus {
    background-color: #404bbf;
}

.header-menu-social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }

    .header-container {
        padding-top: 0;
        padding-bottom: 0;
    }

     .navigation {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-right: 120px;
    }

    .nav-list {
        display: flex ;
        gap: 40px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }

    .current {
        color: #404bbf;
        position: relative;
    }

    .nav-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .address {
        display: block;
        font-style: normal;
        margin-left: auto;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }

    .header-btn-menu {
        display: none;
    }

    .header-modal-menu {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        min-width: 1158px;
        padding: 0 15px;
    }

    .logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*-------------------------------*/

/*-----------HERO--------------------*/
.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image:
        linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
        url(../images/hero-img-mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: url(../images/hero-img-mod@2x.jpg);
    }
}

.hero-title-one {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
        min-width: 169px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
            url(../images/hero-img-tab@1x.jpg);
    }

    .hero-title-one {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: url(../images/hero-img-tab@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                            rgba(46, 47, 66, 0.7)),
            url(../images/hero-img-dek@1x.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .hero {
        background-image: url(../images/hero-img-dek@2x.jpg);
    }
}
/*--------------------------------*/

/*-----------FEATURES---------------*/
.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* .features-container {
    display: flex;
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-icon-container {
    display: none;
}

.features-best {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .features-link {
        width: calc((100% - 24px) / 2);
    }

    .features-best {
        text-align: left;
    }

}

@media screen and (min-width: 1158px) {

    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-link {
        width: calc((100% - 3 * 24px) / 4);
    }

    .features-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .features-icon {
        fill: #2a2a2a;
    }

    .features-best {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }
}

/*---------------------------------*/

/*-----------TEAM---------------*/

.team {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    color: #2e2f42;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
}

.team-link {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 
    0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-conteiner {
    padding: 32px 16px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

.team-social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {

    .team .container {
        width: 584px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .team-link {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team .container {
        width: 1158px;
    }

    .team-list {
        flex-direction: row;
        flex-wrap: no-wrap;
        gap: 24px;
    }

    .team-link {
        width: calc((100% - 3 * 24px) / 4);
    }
}
/*--------------------------------*/

/*-----------PORTFOLIO---------------*/

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img-box {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.portfolio-link-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-link {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    .portfolio-link {
        width: calc((100% - 2 * 24px) / 3);
    }
}
/*---------------------------------*/

/*-----------FOOTER---------------*/
.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-wrap-logo {
    margin-bottom: 72px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.footer-wrap-social {
    margin-bottom: 72px;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-social-icon {
    fill: #f4f4fd;
}

.footer-title-form {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.footer-email-input {
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-email-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-btn-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-subscribe:hover,
.footer-btn-subscribe:focus {
    background-color: #404bbf;
    ;
}

.footer-btn-icon {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .footer .container {
        width: 584px;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-wrap-logo {
        margin-right: 24px;
        margin-bottom: 72px;
    }

    .footer-logo {
        justify-content: flex-start;
    }

    .footer-wrap-social {
        margin-bottom: 0px;
    }

    .footer-social-title {
        text-align: left;
    }

    .footer-title-form {
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
    }
}

@media screen and (min-width: 1158px) {

    .footer {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .footer .container {
        width: 1158px;
        padding-right: 16px;
        padding-left: 16px;
    }
    
    .footer-container {
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .footer-wrap-logo {
        margin-right: 120px;
        margin-bottom: 0px;
    }

    .footer-wrap-social {
        margin-right: 80px;
    }
}
/*-------------------------------*/

/* -------------MODALWINDOW----------------- */

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    z-index: 999;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.is-hidden {
    opacity: 1;
    pointer-events: auto;
}

.modal-contacts {
    position: absolute;
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-wrap {
    margin-bottom: 8px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    padding-left: 34px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
    fill: #4D5AE5;
}

.modal-textarea-wrap {
    margin-bottom: 16px;
}

.modal-textarea {
    resize: none;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0,5;
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-checkbox-wrap {
    margin-bottom: 24px;
}

.modal-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-span-icon {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-input-checkbox:checked + .modal-label-checkbox .modal-span-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-ancor-privacy {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-btn-send {
    display: block;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.modal-btn-send:hover,
.modal-btn-send:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal-contacts {
        width: 408px;
        min-height: 584px;
    }
}